<%= form_for(@semester) do |f| %>
<div align="center">
<table>
 <tr>
 	<td><%= f.text_field :name,:placeholder =>" Enter Semester" %></td>
  <td>
  	<div align="left"><%= f.submit  :id =>'button_new'  %></div>
  </td>
  <td>
  <span style="color:red">
  <% if @semester.errors[:name] %>
    <% a= @semester.errors.full_messages_for(:name) %>
    <%= a.join(", ") %>
  <% end %>
  </span></td>
  </tr>
  </table>
<% end %>
</div>
