<div align="center" class="semester_container">
<div class="name"><h1>Editing Semester <span style="color:lightblue"><%= @semester.name %></span>'s  Details</h1></div>
<%= render 'form', :semester => @semester %>
</div>
