<!DOCTYPE html>
<html>
<head>
  <title>List of Semesteres</title>
</head>
<body>
  <div class="semester_container">
    <div align="center">
      <table width="80%" style="font-size:20px;" cellspacing="20">
      <% @semesters.each do |semester| %>
        <tr style="color:PaleVioletRed">
          <td width="20%" style="text-align:center">Semester</td>
          <td width="20%" style="text-align:left;font-size:20px;"><%= semester.name %></td>
          <td width="20%" style="text-align:left"><%= link_to 'Edit', edit_semester_path(semester) %></td>
          <td width="20%" style="text-align:left"><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      <% end %>
      </table>
      <div>
        <%= button_to 'New Semester', new_semester_path , method: :get %>
      </div>
    </div>
  </div>
</body>
</html>
