<!DOCTYPE html>
<html>
<head>
  <title>List of Semesteres</title>
</head>
<body>
<div class="semester_container">
  <div align="center">
    <%= render 'form', :semester => @semester  %>
  </div>
  <br />
    <div align="center">
      <table width="30%" style="font-size:2%;" cellspacing="20">
      <% @semesters.each do |semester| %>
        <tr style="color:PaleVioletRed">
        <td width="5%"></td>
          <td width="15%" style="text-align:left;font-size:20px;"><%= semester.name %></td>
          <td width="5%" style="text-align:left"><%= link_to image_tag('edit-icon.png'), edit_semester_path(semester) %></td>
          <td width="5%" style="text-align:left"><%= link_to image_tag('Close-2-icon.png'), semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
    </div>
</div>
</body>
</html>
