<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<%= form_for(branch) do |f| %>
		<div align="center">
		<table>
		<tr>
		 	<td><%= f.text_field :name ,:placeholder =>" Enter Branch" %></td>
			<td><div align="left"><%= f.submit :id =>'button_new' %></div></td>
		</tr>
		</table>
		<br />
		 <% end %>
		</div>
	</div>
</body>
</html>