<!DOCTYPE html>
<html>
<head>
  <title>List of Branches</title>
</head>
<body>
  <div align="center"  class="branch_container">
    <table width="100%" style="font-size:20px;" cellspacing="20">
      <% @branches.each do |branch| %>
      <tr style="font-size:20px; text-align:center; color:PaleVioletRed">
        <td style="font-size:16px"><%= branch.name %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% end %>
    </table>
    <br />
    <div>
      <%= button_to 'New Branch', new_branch_path , method: :get %>
    </div>
  </div>
</body>
</html>
