<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="branch_container">
			<div align="center">
				<%= render 'form',:branch => @branch %>
			</div>
    <div align="center">
    <table width="70%" style="font-size:2%;" cellspacing="20">
      <% @branches.each do |branch| %>
      <tr style="font-size:20px; text-align:right; color:PaleVioletRed">
        <td width="20%"></td>
        <td width="20%" style="font-size:20px; text-align:left;"><%= branch.name %></td>
        <td width="20%" style="text-align:left;"><%= link_to image_tag('Actions-document-edit-icon.png'), edit_branch_path(branch) %></td>
        <td width="20%" style="text-align:left;"><%= link_to image_tag('Delete-icon 24px.png'), branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% end %>
    </table>
    </div>
		</div>
	</body>
</html>
