<div class="header">
</div>
<div class="tabs" align="right"><%= button_to 'Back', branches_path , method: :get %></div>
<div align="center">

<h1>Enter Branch Details :</h1>

<%= render 'form' %>

</div>