<head>
  <title>Students</title>
</head>
<div class="tabs" align="right">
<%= button_to 'back' , admin_path , method: :get %>
<div class="name">
<h1 style="font-size:30px; text-align:center;color:white;"></h1>
</div>
<div align="center">
<br />
<br />
<div align="center">
<%= button_to 'New Student', new_student_path , method: :get %>
</div>