
Branch_Semester : 
<% branch_semester_array = BranchSemester.all.map { |b| [b.name, b.id] } %>
<%= select_tag(:branch_semester_id , options_for_select(branch_semester_array)) %>
<br />
<br />
<script>var x = document.getElementById("mySelect").options.selectedIndex.text;</script>



***********************************************************
<%= button_to 'logout->' ,  , method: :get %></div>
