<html>
	<body>
		<div class="user_schedule">
			<div><h1>Hello <%= @user.name %>!!</h1></div>
			<div>
				<ul>
					<li id="professor">
						<%= button_to 'Show table', user_path(@user) , method: :get %>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>