<div><h1>Hello <%= @user.name %>!!</h1></div>
<div>
	<ul>
		<li><%= button_to 'User Show!', user_path(@user) , method: :get %></li>

		<li><%= button_to 'Schedule get_schedule!',  users_schedules_path , method: :get %></li>
	</ul>
</div>