<html>
	<body>
		<div class="user_container">
			<br />
			<table width="90%">
				<tr>
					<td width="7%"></td>
					<td>
					<div class="circleBase type1">
					<br />
						<%= link_to image_tag('user2-add-icon.png'), new_user_path, method: :get %>
						</div>
					</td>
					<td width="7%"></td>
					<td>
					<div class="circleBase type2">
					<br />
						<%= link_to image_tag('user2-edit-icon.png'), get_user_id_path %>
					</div>
					</td>
					<td width="7%"></td>
					<td>
					<div class="circleBase type3">
					<br />
						<%= link_to image_tag('Add-File-icon.png'), import_path %>
					</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>