<html>
<body>
<p>User Show!</p>
<table width="80%">
	<% @dd.each do |d| %>
	<tr>
		<td><%= d[0] %></td>
		<td>from</td>
		<td><%= d[1] %></td>
		<td>to</td>
		<td><%= d[2] %></td>
	</tr>
	<% end %>
</table>
	 <div id="calendar"></div>
</body>
</html>
