<html>
<head>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() 
	{
	    $('#calendar').fullCalendar();
	}
	</script>
</head>
<body>
    <div id="calendar" style="width:60% ; height: 60%; z-index:0" align="center"></div>
</body>
</html>