<html>
<head><title>Schedule</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function()
    {
        $("#dialog").dialog({
            autoOpen: false,
            width: 570,
            modal: true
        });
        $("#dialog-editDelete").dialog({
            autoOpen: false,
            modal: true,
            width: 570
        });      
        $( "#menu" ).menu({
            disabled: true
        });
    });

    jQuery.fn.serializeObject = function()
    {
          var arrayData, objectData;
          arrayData = this.serializeArray();
          objectData = {};
          $.each(arrayData, function(index)
          {
            var value = arrayData[index];               // Changed from what was done.
            if (this.value != '')
            {
              value = this.value;
            } 
            else 
            {
              alert(this.name+" is null! please fill in all details.");
              throw new Error(this.name+" is null! please fill in all details.");
            }
            if (objectData[this.name] != null) 
            {             
             if (!objectData[this.name].push) 
              {
                objectData[this.name] = [objectData[this.name]];
              }
              objectData[this.name].push(value);
            } 
            else 
            {
              objectData[this.name] = value;
            }
          });
          return objectData;
        };
</script>
</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() 
{
    // page is now ready, initialize the calendar...
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var t = date.getTime();

    // Fullcalendar..
    $('#calendar').fullCalendar({

        events: function(start, end, timezone, callback)
        {
            $.ajax({
                url : '/schedules.json',
                dataType: 'json' ,
                success : function(schedule)
                {
                    var events = [];

                    $.each( schedule , function(index, event)
                    {
                     //   alert("In each() in events success");
                        event = {};  
                        var d = schedule[index];
                        event.id = d['id'];
                        event.title = d['name'];    
                        event.start = d['starttime']; 
                        event.end = d['endtime'];
                        event.allDay = false;                   
                        events.push(event);
                    });
                    callback(events);
                },
                error : function(error)
                {
                    alert("An error occured while fetching events!!");
                }
            }); 
        },

        //Header initialization
        header: 
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },

        slotDuration: '00:15:00',                        
        defaulEventEnd: 60,
        defaultView: "agendaWeek",
        selectable: true,
        selectHelper: true,
        editable: true,
        height: 500,
        timeFormat: "h:mm ",
        dragOpacity: "0.5",
        editable: true,
        slotEventOverlap:false,
        eventOverlap: false,
        durationEditable: true,

        titleFormat: 
        {
            month: 'MMMM YYYY',    
        },
        columnFormat:
        {
            week: 'ddd, DD/MM ',
            day: 'dddd'
        },

        dayClick: function(date, allDay, jsEvent, view)
        {    
            $('#calendar').fullCalendar('gotoDate', date);
            $('#calendar').fullCalendar('changeView', 'agendaDay');            
        },

        eventDrop: function( event, delta, revertFunc, jsEvent, ui, view )
        {
          //  alert("isValidEvent : "+isValidEvent(event.start,event.end));
            if(isValidEvent(event.start,event.end))
            {
                if (updateEvents(event))
                {
                    alert("Event Updated!");
                }
                else
                {
                    revertFunc();
                }
           }
           else
           {
            alert("Time slot already taken!! in eventDrop");
           }
        },

        eventResize: function( event, delta, revertFunc, jsEvent, ui, view )
        {
         //   alert("isValidEvent : "+isValidEvent(event.start,event.end));
            if(isValidEvent(event.start,event.end))
            {
                if (updateEvents(event))
                {
                    alert("Event Updated!");
                }
                else
                {
                    revertFunc();
                }
           }
           else
           {
            alert("Time slot already taken!! in eventResize");
           }
        },

        eventClick: function(event, jsEvent, view)
        {
            //TODO: event(fullcalendar) => schedule(database) => user_id, subject_id, room_id

            $("#event-data").text(event.title+" at "+event.start.format("HH:mm"));

            $("#delete_event").data("event-id",event.id);
            $("#edit_event").data("event-id",event.id);

            $('#dialog-editDelete').dialog("open");              
               
                //On Edit
                $("#edit_event").on("click" , function()
                {
                    $('#dialog-editDelete').dialog("close");  //close 1st dialog

                    $("#startTime").text(event.start.format("HH:mm DD-MM-YYYY")); 
                    $("#endTime").text(event.end.format("HH:mm DD-MM-YYYY"));
   
                    $('#dialog').dialog("open");    
                });  
            
        },

        select: function(start, end, allDay)
        {
            if(isValidEvent(start,end))      
            {
                $("#startTime").text(start.format(" HH:mm DD-MM-YYYY")); //DD-MM-YYYY HH:mm
                $("#endTime").text(end.format(" HH:mm DD-MM-YYYY"));
                $("#dialog").dialog("open");               
            }
            else
            {
                alert("Time slot already taken.");
            }
        }
    });
   
    //On Delete
                $("#delete_event").on("click" , function()
                {
                    var r = confirm("Are you sure you want to delete?");
                    var event_id = $("#delete_event").data("event-id")
                    alert(r);
                    if (!!r)
                    {
                        $.ajax({
                            url: '/schedules/'+event_id,
                            type: 'DELETE',
                            dataType: "json",
                            data : {id : $("#delete_event").data("event-id")},
                           
                            success : function(response)
                            {
                                $('#calendar').fullCalendar('removeEvents',response.id);  //Does not update db
                                $('#dialog-editDelete').dialog("close");
                                // Do something with the result
                            },

                            error : function(error)
                            {
                                alert("Could not delete. Try again.");
                            }
                        });

                    } 
                   // $('#calendar').fullCalendar('removeEvents',event.id);  //Does not update db
                });


    //To check if it is overlapping a time slot
    var isValidEvent = function(start,end)
    {
      return true;
    };

    //To update the datbase with new values 
    var updateEvents = function(schedule)
    {    
        $.ajax({
         
            url:"/schedules/"+schedule.id,
            type: 'PUT', //'PUT',//"PATCH",
            dataType: "json",
            
            success : function(schedule)
            {
                alert("Success Data : "+data.name);
            },
            error : function(error)
            {
                alert("An error occured while updating events! Please try again!");
                 return false //revertFunc();
            }
        });
    };

    ///Onchange of batch_id
    function call_events()
    {
        //event(fullcalendar Batch) => schedule(database(batches)) => user_id,subject_id,room_id
        $('#calendar').fullCalendar( 'refetchEvents' );
    }

    //On submiting rails form
    $("#new_schedule").submit(function(event)
    {    
        event.preventDefault();

        var formObject = $('#new_schedule').serializeObject();

        formObject["schedule[branch_id]"] = $("#branch_id").val();
        formObject["schedule[semester_id]"] = $("#semester_id").val();
        formObject["schedule[batch_id]"] = $("#batch_id").val();

        formObject["schedule[starttime]"] = $("#startTime").text();
        formObject["schedule[endtime]"] = $("#endTime").text();

        var jObject = JSON.stringify(formObject);
        var jsonObject = JSON.parse(jObject);

        $.ajax({

            url : '/schedules.json',
            type: 'POST',
            dataType: 'json' ,
            data : jsonObject , 

            success : function(response)
            {
                $("#dialog").dialog("close");
                $('#calendar').fullCalendar( 'refetchEvents' );
            },    
            error : function(error)
            {
               alert("An error occured! Please try again!");
            }
        });
    });
});
</script>
</head>

<body>
                <p>Branch : <% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:branch_id, options_for_select(branch_array),{include_blank: true}) %> 
                </p>

                <p>Semester : <% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
                 <%= select_tag(:semester_id, options_for_select(semester_array), { include_blank: true }  ) %>
                </p>

                <p>Batch : <% batch_array = Batch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:batch_id , options_for_select(batch_array), { include_blank: true , :onchange => "call_events()"}) %>
                </p>  

    <div id="dialog" title="Enter Event Details">

        <%= form_for(@schedule, :remote => true, :format => :json, :html => { :id => "new_schedule" }) do |schedule| %>               
    
                <p>
                Start Time : <span id="startTime"></span>
                </p>

                <p>
                End Time : <span id="endTime"></span>
                </p>
    
                <p>
                Professor : <% professor_array = User.find_all_by_role_id(2).map { |b| [b.name, b.id] } %>
                <%= schedule.select(:user_id , options_for_select(professor_array), { include_blank: true})%>
               </p>

                <p>
                Subject :<% subject_array = Subject.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:subject_id , options_for_select(subject_array), { include_blank: true}) %>
                </p>

                <p>
                Room No. :<% room_array = Room.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:room_id , options_for_select(room_array), { include_blank: true }) %>
                </p>
  
                <%= schedule.submit %>

        <% end %>
    </div>
   


   <div id="dialog-editDelete" title="Event Details :">
   <span id="event-data" style="font-size:15px"></span>
   <br />
   <button id="delete_event">Delete</button> or <button id="edit_event">Edit</button>
   </div>

</body>
</html>