<html>
<head><title>Schedule</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function()
    {
        $("#dialog").dialog({
            autoOpen: false,
            width: 570
        });
       
    });


    jQuery.fn.serializeObject = function()
    {
          var arrayData, objectData;
          arrayData = this.serializeArray();
          objectData = {};

          $.each(arrayData, function(index)
          {
            var value = arrayData[index];               // Changed from what was done.

            if (this.value != '')
            {
              value = this.value;
            } 
            else 
            {
              alert(this.name+" is null! please fill in all details.");
              throw new Error(this.name+" is null! please fill in all details.");
            }

            if (objectData[this.name] != null) 
            {
                
             if (!objectData[this.name].push) 
              {
                objectData[this.name] = [objectData[this.name]];
              }

              objectData[this.name].push(value);
            } 
            else 
            {
              objectData[this.name] = value;
            }
          });
          return objectData;
        };
</script>
</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() 
{
    // page is now ready, initialize the calendar...
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var t = date.getTime();

// CODE FOR TIME SLOT CONFLICT.
/*
function checkOverlap(event) {  

    var start = new Date(event.start);
    var end = new Date(event.end);

    var overlap = $('#calendar').fullCalendar('clientEvents', function(ev) {
        if( ev == event)
            return false;
        var estart = new Date(ev.start);
        var eend = new Date(ev.end);

        return (Math.round(estart)/1000 < Math.round(end)/1000 && Math.round(eend) > Math.round(start));
    });

    if (overlap.length){  
            //either move this event to available timeslot or remove it
       }                  
  };
  */

    var isValidEvent = function(start,end)
    {
        return $("#calendar").fullCalendar('clientEvents', function (event) 
        {
            return (event.rendering === "background" && (start.isAfter(event.start) || start.isSame(event.start,'minute')) && (end.isBefore(event.end) || end.isSame(event.end,'minute')));
        }).length > 0;
    };

    function updateEvents(data)
    {
        alert("In updateEvents");
     
  $.ajax({
    url:"/schedule", //"/admin/events/" + data.id,
    type: "PUT",
    dataType: "json",
    data:
      event:
        title: data.title,
        starts_at: "" + new Date(data.start).toUTCString(),
        ends_at: "" + new Date(data.end).toUTCString()
        });
        /*
         $.ajax({
                url : '/schedules.json',
                type : 'PUT'
                dataType: 'json' ,

                success : function(data)
                {
                    var events = [];

                    $.each( data , function(index, event)
                    {
                     //   alert("in each in events success");
                        event = {};  
                        var d = data[index];
                        event.title = d['name'];    
                        event.start = d['starttime']; 
                        event.end = d['endtime'];
                        event.allDay = false;                   
                        events.push(event);
                    });
                    callback(events);
                },
                error : function(error)
                {
                    alert("in error in updateEvents!!");
                }
            });
   */ };

    $('#calendar').fullCalendar({

        events: function(start, end, timezone, callback)
        {
            $.ajax({
                url : '/schedules.json',
                dataType: 'json' ,
                success : function(schedule)
                {
                    var events = [];

                    $.each( schedule , function(index, event)
                    {
                     //   alert("in each in events success");
                        event = {};  
                        var d = schedule[index];
                        event.title = d['name'];    
                        event.start = d['starttime']; 
                        event.end = d['endtime'];
                        event.allDay = false;                   
                        events.push(event);
                    });
                    callback(events);
                },
                error : function(error)
                {
                    alert("in error in events!!");
                }
            }); 
        },

        //Header initialization
        header: 
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },

        slotDuration: '00:15:00',                        
        defaulEventEnd: 60,
        defaultView: "agendaWeek",
        selectable: true,
        selectHelper: true,
        editable: true,
        height: 500,
        timeFormat: "h:mm ",
        dragOpacity: "0.5",
        editable: true,
        slotEventOverlap:false,
        eventOverlap: false,
        durationEditable: true,

        titleFormat: 
        {
            month: 'MMMM YYYY',    
        },
        columnFormat:
        {
            week: 'ddd, DD/MM ',
            day: 'dddd'
        },

        dayClick: function(date, allDay, jsEvent, view)
        {    
            $('#calendar').fullCalendar('gotoDate', date);
            $('#calendar').fullCalendar('changeView', 'agendaDay');            
        },

        eventClick: function(calEvent, jsEvent, view)
        {
            $('#dialog').dialog("open");    
        },

        select: function (start, end, jsEvent, view)
        {
            if(isValidEvent(start,end))      //only add it if it's valid
            { 
                $("#calendar").fullCalendar('addEventSource', [{
                start: start,
                end: end,
                }] );
            }        
            //$("#calendar").fullCalendar("unselect");
        },
        eventDrop: function( event, delta, revertFunc, jsEvent, ui, view )
        {
            alert("isValidEvent(event.start,event.end) in drop : "+isValidEvent(event.start,event.end));
            if(isValidEvent(event.start,event.end))
            {
                updateEvents(event);
            }
            else
            {
                revertFunc();
            }
        },
        eventResize: function( event, delta, revertFunc, jsEvent, ui, view )
        {
            alert("isValidEvent(event.start,event.end) in resize : "+isValidEvent(event.start,event.end));
            if(isValidEvent(event.start,event.end))
            {
               updateEvents(event);
            }
           else
            {
                revertFunc();
            }
        },

        select: function(start, end, allDay)
        {   
            $("#startTime").text(start);
            $("#endTime").text(end);
            $("#dialog").dialog("open");               
        }
    });

function call_events()
{
    $('#calendar').fullCalendar( 'refetchEvents' );
}

    $("#new_schedule").submit(function(event)
    {    
        event.preventDefault();

        var formObject = $('#new_schedule').serializeObject();

        formObject["schedule[branch_id]"] = $("#branch_id").val();
        formObject["schedule[semester_id]"] = $("#semester_id").val();
        formObject["schedule[batch_id]"] = $("#batch_id").val();

        formObject["schedule[starttime]"] = $("#startTime").text();
        formObject["schedule[endtime]"] = $("#endTime").text();

        var jObject = JSON.stringify(formObject);
        var jsonObject = JSON.parse(jObject);

        $.ajax({

            url : '/schedules.json',
            type: 'POST',
            dataType: 'json' ,
            data : jsonObject , 

            success : function(response)
            {
                $("#dialog").dialog("close");
                $('#calendar').fullCalendar( 'refetchEvents' );
            },    
            error : function(error)
            {
               alert("An error occured! Please try again!");
            }
        });
    });
});
</script>
</head>

<body>
                <p>Branch : <% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:branch_id, options_for_select(branch_array),{include_blank: true}) %> 
                </p>

                <p>Semester : <% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
                 <%= select_tag(:semester_id, options_for_select(semester_array), { include_blank: true }  ) %>
                </p>

                <p>Batch : <% batch_array = Batch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:batch_id , options_for_select(batch_array), { include_blank: true , :onchange => "call_events()"}) %>
                </p>  

    <div id="dialog" title="Enter Event Details">

        <%= form_for(@schedule, :remote => true, :format => :json, :html => { :id => "new_schedule" }) do |schedule| %>               
    
                <p>
                Start Time:<span id="startTime"></span>
                </p>

                <p>
                End Time:<span id="endTime"></span>
                </p>
    
                <p>
                Professor : <% professor_array = User.find_all_by_role_id(2).map { |b| [b.name, b.id] } %>
                <%= schedule.select(:user_id , options_for_select(professor_array), { include_blank: true})%>
               </p>

                <p>
                Subject :<% subject_array = Subject.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:subject_id , options_for_select(subject_array), { include_blank: true}) %>
                </p>

                <p>
                Room No. :<% room_array = Room.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:room_id , options_for_select(room_array), { include_blank: true }) %>
                </p>
  
                <%= schedule.submit %>

        <% end %>
    </div>
   
</body>
</html>