<html>
<head><title>Schedule</title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function()
    {
        $("#dialog").dialog({
            autoOpen: false,
            width: 570,
            modal: true
        });
        $("#dialog-editDelete").dialog({
            autoOpen: false,
            modal: true,
            width: 570
        });      
        $( "#menu" ).menu({
            disabled: true
        });
    });

    jQuery.fn.serializeObject = function()
    {
          var arrayData, objectData;
          arrayData = this.serializeArray();
          objectData = {};
          $.each(arrayData, function(index)
          {
            var value = arrayData[index];               // Changed from what was done.
            if (this.value != '')
            {
              value = this.value;
            } 
            else 
            {
              alert(this.name+" is null! please fill in all details.");
              throw new Error(this.name+" is null! please fill in all details.");
            }
            if (objectData[this.name] != null) 
            {             
             if (!objectData[this.name].push) 
              {
                objectData[this.name] = [objectData[this.name]];
              }
              objectData[this.name].push(value);
            } 
            else 
            {
              objectData[this.name] = value;
            }
          });
          return objectData;
        };
</script>
</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() 
{
    // page is now ready, initialize the calendar...
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var t = date.getTime();

    // Fullcalendar..
    $('#calendar').fullCalendar({

        events: function(start, end, timezone, callback)
        {
            $.ajax({
                url : '/schedules',
                dataType: 'json' ,
                success : function(schedule)
                {
                    var events = [];
                    $.each( schedule , function(index, event)
                    {
                        event = {};  
                        var d = schedule[index];
                        event.id = d['id'];
                        event.title = d['name'];    
                        event.start = d['starttime']; 
                        event.end = d['endtime'];
                        event.allDay = false;                   
                        events.push(event);
                    });
                    callback(events);
                },
                error : function(error)
                {
                    alert("An error occured while fetching events!!");
                }
            }); 
        },
        

        //Header initialization
        header: 
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },

        selectOverlap:  false,
        selectable: false,
       // slotEventOverlap:false,
     //   eventOverlap: false,
        slotDuration: '00:15:00',                        
        defaulEventEnd: 60,
        defaultView: "agendaWeek",
        selectable: true,
        selectHelper: true,
        editable: true,
        height: 500,
        timeFormat: "h:mm ",
        dragOpacity: "0.5",
        editable: true,
        durationEditable: true,

        titleFormat: 
        {
            month: 'MMMM YYYY',    
        },
        columnFormat:
        {
            week: 'ddd, DD/MM ',
            day: 'dddd'
        },

        dayClick: function(date, allDay, jsEvent, view)
        {    
            $('#calendar').fullCalendar('gotoDate', date);
            $('#calendar').fullCalendar('changeView', 'agendaDay');            
        },

        eventDrop: function( event, delta, revertFunc, jsEvent, ui, view )
        {
            if(isValidEvent(event.start,event.end))
            {
                updateEvents(event, revertFunc);
            }
            else
            {
                alert("Can not drop on occupied area!!");
            }
        },

        eventResize: function( event, delta, revertFunc, jsEvent, ui, view )
        {
            if(isValidEvent(event.start,event.end))
            {
                updateEvents(event,revertFunc);     
            }
            else
            {
                alert("Can not resize on occupied area!!");
            }
        },

        eventClick: function(event, jsEvent, view)
        { 
            $("#event-data").text(event.title+" at "+event.start.format("HH:mm")); //Event details

            $("#delete_event").data("event-id",event.id);
            $("#edit_event").data("event-id",event.id);

            $('#dialog-editDelete').dialog("open");
        },

        select: function(start, end, allDay)
        {
            if(isValidEvent(start,end))      
            {
                $("#startTime").text(start.format(" HH:mm DD-MM-YYYY"));
                $("#endTime").text(end.format(" HH:mm DD-MM-YYYY"));
                $("#dialog").dialog("open");               
            }
            else
            {
                alert("Time slot already taken.");
            }
        }
    });
    
    //On Edit
    $("#edit_event").on("click" , function()
    {
        var event_id = $("#edit_event").data("event-id");

        $('#dialog-editDelete').dialog("close");
      
        $.ajax({
            url: '/schedules/'+event_id+'/edit',
            type: 'GET',
            dataType: "json",
        
            success : function(response)
            {
                onEdit(response); //response.id,response.starttime,response.endtime);
            },
            error : function(error)
            {
                alert("Could not open form for edit. (1)");
            }
        });   
    });  

    var onEdit = function(response) //event_id,event_start,event_end)
    {
        $.ajax({
            url: '/schedules/'+response.id,
            type: 'PUT',
            data: {"schedule[id]" : response.id , "schedule[starttime]" : response.starttime , "schedule[endtime]" : response.endtime},
            dataType: "json",
            
            success : function(response)
            {
                $('#startTime').text(response.starttime);
                $('#endTime').text(response.endtime);
                $('#dialog').dialog("open");
            },
            error : function(error)
            {
                alert("Could not open form for edit. (2)");
            }
        });
    };

    //On Delete
    $("#delete_event").on("click" , function()
    {
        var r = confirm("Are you sure you want to delete?");
        var event_id = $("#delete_event").data("event-id")
        if (!!r)
        {
            $.ajax({
                url: '/schedules/'+event_id,
                type: 'DELETE',
                dataType: "json",
                data : {id : $("#delete_event").data("event-id")},
                success : function(response)
                {
                    $('#calendar').fullCalendar('removeEvents',response.id);
                    $('#dialog-editDelete').dialog("close");
                },
                error : function(error)
                {
                    alert("Could not Delete. Try again.");
                }
            });
        }
    });

    //To check if it is overlapping a time slot
    var isValidEvent = function(start,end)
    {
        return true;

    };

    function isOverlapping(event){
    var array = calendar.fullCalendar('clientEvents');
    for(i in array){
        if(array[i].id != event.id){
            if(!(Date(array[i].start) >= Date(event.end) || Date(array[i].end) <= Date(event.start))){
                return true;
            }
        }
    }
    return false;
}
    
    //Onchange of batch_id
    function call_events()
    {
        //event(fullcalendar Batch) => schedule(database(batches)) => user_id,subject_id,room_id
        $('#calendar').fullCalendar( 'refetchEvents' );
    }

    //To update the datbase with new values 
    var  updateEvents = function(event , revertFunc )
    {    
        var jobj = JSON.parse(JSON.stringify(event));
        $.ajax({
            url:"/schedules/"+event.id,
            type: "PATCH",
            data : { "schedule[id]" : event.id, "schedule[name]" : jobj.title, "schedule[starttime]" : jobj.start, "schedule[endtime]" : jobj.end },
            dataType: "json",

            success : function(schedule)
            { },
            error : function(error)
            {
                alert("An error occured while updating events! Please try again!");
                revertFunc();
            }
        });
    };

    //On submiting rails form
    $("#new_schedule").submit(function(event)
    {    
        event.preventDefault();
        var formObject = $('#new_schedule').serializeObject();
        formObject["schedule[branch_id]"] = $("#branch_id").val();
        formObject["schedule[semester_id]"] = $("#semester_id").val();
        formObject["schedule[batch_id]"] = $("#batch_id").val();
        formObject["schedule[starttime]"] = $("#startTime").text();
        formObject["schedule[endtime]"] = $("#endTime").text();
        var jObject = JSON.stringify(formObject);
        var jsonObject = JSON.parse(jObject);
        $.ajax({
            url : '/schedules',
            type: 'POST',
            dataType: 'json' ,
            data : jsonObject , 
            success : function(response)
            {
                $("#dialog").dialog("close");
                //$('#calendar').fullCalendar( 'renderEvent', response, ["stick"] );
                $('#calendar').fullCalendar('refetchEvents');
            },    
            error : function(error)
            {
               alert("An error occured! Please try again!");
            }
        });
    });
});
</script>
</head>

<body>
                <p>Branch : <% branch_array = Branch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:branch_id, options_for_select(branch_array),{include_blank: true}) %> 
                </p>

                <p>Semester : <% semester_array = Semester.all.map { |b| [b.name, b.id] } %>
                 <%= select_tag(:semester_id, options_for_select(semester_array), { include_blank: true }  ) %>
                </p>

                <p>Batch : <% batch_array = Batch.all.map { |b| [b.name, b.id] } %>
                <%= select_tag(:batch_id , options_for_select(batch_array), { include_blank: true , :onchange => "call_events()"}) %>
                </p>  

    <div id="dialog" title="Enter Event Details">

        <%= form_for(@schedule, :remote => true, :format => :json, :html => { :id => "new_schedule" }) do |schedule| %>               
    
                <p>
                Start Time : <span id="startTime"></span>
                </p>

                <p>
                End Time : <span id="endTime"></span>
                </p>
    
                <p>
                Professor : <% professor_array = User.find_all_by_role_id(2).map { |b| [b.name, b.id] } %>
                <%= schedule.select(:user_id , options_for_select(professor_array), { include_blank: true})%>
               </p>

                <p>
                Subject :<% subject_array = Subject.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:subject_id , options_for_select(subject_array), { include_blank: true}) %>
                </p>

                <p>
                Room No. :<% room_array = Room.all.map { |b| [b.name, b.id] } %>
                <%= schedule.select(:room_id , options_for_select(room_array), { include_blank: true }) %>
                </p>
  
                <%= schedule.submit %>

        <% end %>
    </div>
   


   <div id="dialog-editDelete" title="Event Details :">
   <span id="event-data" style="font-size:15px"></span>
   <br />
   <button id="delete_event">Delete</button> or <button id="edit_event">Edit</button>
   </div>

</body>
</html>