<html>
<body>
Schedule get_schedule
<table>
	<% @data.each do |d| %>
	<tr>
		<td><%= d.subject %></td>
		<td><%= d.professor %></td>
	</tr>
	<% end %>
</table>
	 <div id="calendar"></div>
</body>
</html>