<html>
<head><title>Schedules</title>
</head>

<body>
<div class="header"></div>
<div class="tabs" align="right"><%= button_to 'Back', admin_path , method: :get %></div>
<div align="center">
<br />
<br />
<span style="font-size:25px">Schedules</span>
<br />
<br />
<%= button_to 'Create New' , new_schedule_path , method: :get %>





</div>

</body>
<pre>
<div align="bottom"> 

Display schedules like this :
* 2011
* 2012
* 2013...

...on click => drop down of branches :

which will link to a page with options of which semester ((1,3,5,7) or (2,4,6,8));
there schedule while be displayed accordingly.
</div>
</pre>

</html>