<html>
<head><title>Schedules</title>
</head>
<div class="header"></div>
<div class="tabs" align="right"><%= button_to 'Back', admin_path , method: :get %></div>
<div align="center">
<br />
<br />
<span style="font-size:25px">Schedules</span>
<br />
<br />
<%= button_to 'Create New' , new_schedule_path , method: :get %>
<%= button_to 'Edit' , new_schedule_path , method: :get %>
</div>
</html>