<html>
<body>
<<<<<<< HEAD
<%= render 'calendarJS' %>
=======
Schedule index
<div id="calendar" style="width:60% ; height: 60%; z-index:0" align="center"></div>
>>>>>>> b1c4b52e78b6996585d7f80f725dfd0c3fa6fe82
</body>
</html>