
<div class="tabs" align="right"><%= button_to 'Back', schedules_path , method: :get %></div>
<div align="center">
<h1>Enter Schedule Details :</h1>


<%= render 'form' %>

    <div id="calendar"  align="center"></div>


</div>