<html>
  <head>
    <title>Schedule</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%= javascript_include_tag "new_form.js" %>
  </head>
  <body>
    <div class="schedule">
      <div align="center">
        <%= render 'initialize_subjects_form', :branch => @branch ,:semester => @semester, :batch => @batch,:branch_id_frmc => @branch_id_frmc ,:semester_id_frmc => @semester_id_frmc, :batch_id_frmc => @batch_id_frmc %>
        <%= render 'form', :professor => @professor, :branch => @branch ,:semester => @semester, :room => @room, :batch => @batch, :subjects => @subjects, :schedule => @schedule %>
        <div class="calendar_container"> 
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </body>
</html>