//INITIAL isValid() CODE :

/*
 //To check if it is overlapping a time slot
    var isValidEvent = function(start,end)
    {
        return true;

    };

    function isOverlapping(event)
    {
        var array = calendar.fullCalendar('clientEvents');
        for(i in array)
        {
            if(array[i].id != event.id)
            {
                if(!(Date(array[i].start) >= Date(event.end) || Date(array[i].end) <= Date(event.start)))
                {
                    return true;
                }
            }
        }
        return false;   
    }
    
*/

/*
       return $("#calendar").fullCalendar('clientEvents', function (event) 
        {
            return (event.rendering == "background" && (start.isAfter(event.start) || start.isSame(event.start,'minute')) && (end.isBefore(event.end) || end.isSame(event.end,'minute')));
        }).length > 0;
*/


// CODE FOR TIME SLOT CONFLICT.
/*
function checkOverlap(event)
{  
    var start = new Date(event.start);
    var end = new Date(event.end);

    var overlap = $('#calendar').fullCalendar('clientEvents', function(ev) {
        if( ev == event)
            return false;
        var estart = new Date(ev.start);
        var eend = new Date(ev.end);

        return (Math.round(estart)/1000 < Math.round(end)/1000 && Math.round(eend) > Math.round(start));
    });

    if (overlap.length){  
            //either move this event to available timeslot or remove it
       }                  
  };
*/

//isValid with counter c
  /*    
        var c = 0;

        if  ($("#calendar").fullCalendar( 'clientEvents', function (event) 
            {
                alert(event.id);
                return (event.rendering == "background" && (start==event.start || start > event.start ) && (end < event.end || end==event.end));
            }) == true )
        {
            c = c + 1 ;
        }

        alert(c);
        if (c === 0)
        {
            return false;
        }
        else
        {
            return true;
        }
*/

//To check if events already exist
/*
        $('#calendar').fullCalendar('clientEvents', function(ev)
        {
            alert(ev.start);
            if( ev == event)
            { 
                return false;
            }
            else
            {
                return true;
            }
            var estart = new Date(ev.start);
            var eend = new Date(ev.end);
        });
*/

   <ul id="menu">
   <li>Delete</li>
   <li>Edit</li>
   </ul>