<div class="header" ></div>
<div class="tabs" align="right"><%= button_to 'Back', professors_path , method: :get %></div>
<div align="center">
<div class="name"><h1>Editing Professor <span style="color:lightblue"><%= @professor.name %></span>'s Details</h1></div>
<%= render 'form' %>
</div>
<div class="footer"></div>