/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  //background-color:#ccc;
  margin-bottom: 50px;
}

table{
//  border-bottom:1px solid #ccc;
}

header .container{
  background-color:#5a5a5a;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color:#2980b9;
  color:white;
}

header .dropdown-menu li{
  clear:both;
}

header .dropdown-menu li input[type="submit"]{
  padding: 3px 20px;
  background: transparent;
  border: none;
}

header .dropdown-menu li input[type="submit"]:hover{
  background-color:black;
  color:white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ccc;
  padding-top: 9px;
  line-height: 1;
  margin-top:10px;
  font-weight:bold;
}

#logo:hover {
  color: GhostWhite;//#fff;
  text-decoration: none;
}

/* navigation bar */

.navbar-inverse{
    background-color:#5a5a5a;
    border:0px;
}
.nav li{
  float:left;
}

ul.nav.pull-right{
  margin-top:10px;
}
.nav li > a{
  color:#ccc;
}

.nav li > a:hover{
  color:white;
  background-color:black;
}

navbar-inverse {
  background-color:black;
}

ul.dropdown-menu li > a{
  color:#444;
}


/*table */

thead{
  background-color:#2980b9;
  color:white;
}

th,td{
  text-align:center;
}


/* footer */

.footer{
  position:fixed;
  bottom:0;
  background-color:white;
  width:940px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/*import file */

.input-field {
  width: 50%;
  float: left;
  margin-right: 10px;
}

.submit-button {
  width: 10%;
}
.import-users h2{
  text-align:left;
  color:#999;
  margin-bottom:10px;
  margin-top:40px;
}


/*Avatar */

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

/* select feild */

.alert {
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  background: aliceblue;
  width: 200px;
  margin-top: 5px;
}

.image-show{
  height: 200px;
  max-width: 200px;
}

.datepicker{
  z-index: 1150 !important;
}

#task{
  float:right;
}

.hidden{
  display: none;
}

.task-error{
  color: red;
}

a
{
  color: #5a5a5a; //#FF7052;
}

/* Admin_user Fixed options */

.admin_fixed_options
{
  line-height:30px;
  background-color: white;
  height:100%;
  width:150px;
  float:left;
  padding:15px; 

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
  filter: alpha(opacity=50);  /* IE 5-7 */
  -moz-opacity: 0.5;          /* Netscape */
  -khtml-opacity: 0.5;        /* Safari 1.x */
  opacity: 0.5; 

  position:fixed;
  top: 30%;
  left: 50%;
  margin-top: -17em; /*set to a negative number 1/2 of your height*/
  margin-left: -43em; /*set to a negative number 1/2 of your width*/
}

.admin_links
{
  color:white;
}

.alert_msgs
{
  position:fixed;
  top: 30%;
  left: 50%;
  margin-top: -15em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
}

.container #container
{
  background-color:white;
  width:300px;
  height:600px;
  position:fixed;
  top: 5%;
  left: 50%;
  margin-top: 20em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
}

.calendar_container
{
  width:1000px;
  height:700px;
  position:fixed;
  top: 0%;
  left: 20%;
  margin-top: 15em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
}


.schedule
{
  width:1000px;
  height:200px;
  position:fixed;
  top: 0%;
  left: 20%;
  margin-top: 7em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
}

.admin_data_container
{
  width:1000px;
  height:200px;
  position:fixed;
  top: 0%;
  left: 20%;
  margin-top: 10em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
}

.user_schedule
{
  width:1050px;
  height:1000px;
  position:fixed;
  top: 0%;
  left: 0%;
  margin-top: 10em; /*set to a negative number 1/2 of your height*/
  margin-left:  5em; /*set to a negative number 1/2 of your width*/
}

.greet_user
{
  width:1050px;
  height:900px;
  color:#FF7052;
}

/* input feild */

input[type="password"],input[type="email"],input[type="text"]
{
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  width: 100%;
}