// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subject_container
{
  width:95%;
  height:60%;
  position:fixed;
  top: 0%;
  left: 0%;
  margin-top: 20%; 							/*set to a negative number 1/2 of your height*/
  margin-left: 10%;							/*set to a negative number 1/2 of your width*/
}

#create_button_subjects
{
  width : 21%;
  font-size:20px;
}

.create_new_subjects
{
  width:965px;
  position:fixed;
  top: 0%;
  left: 20%;
  margin-top: 15em;
  margin-left: -5em;
}
