<html>
<head>
<title>Adding Professor</title>
</head>
<body>
<form>
	<input type="text" name="name">
	<br />
	<input type="radio" name="gender" value="male" checked>Male
	<input type="radio" name="gender" value="male" checked>Female
	<br />
	<input type="text" name="age">
	<br />
	<input type="submit" value="Submit">
</form>
</body>
</html>